<h1>Angularfire test app</h1>

<p>All of the routes below (except About) retrieve the same doc in different ways to test angularfire SSR. The About route sets meta tags and is a control for just testing SSR by itself.</p>

<ul>
  <li><a routerLink="/about">About</a></li>
  <li><a routerLink="/doc">Doc</a></li>
  <li><a routerLink="/collection/mixes">Collection</a></li>
  <li><a routerLink="/collection-group/mixes">Collection group</a></li>
  <li><a routerLink="/resolver/mixes">Resolver</a></li>
</ul>
